<div class="form-group" id="loginForm" *ngIf="!loggedIn">
    <input type="text" id="username" placeholder="username" [(ngModel)]="username">
    <input type="password" id="password" placeholder="password" [(ngModel)]="password">
    <button (click)="login()">login</button>
</div>
<button (click)="history()" [disabled]="!loggedIn">hist</button>
<button (click)="twAddQuoteSub('PLTR')" [disabled]="!loggedIn">pltr sub</button>

<div *ngIf="dataArray">
    {{tickers}}

    <h1>Selecting object</h1>
    <select (change)="selectedTickerChanged()" [(ngModel)]="selectedTicker">
        <option *ngFor="let ticker of tickers">{{ticker}}</option>
    </select>
    {{selectedTicker}}
    <label>{{price}}</label>

    <label>tradehistory</label>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th *ngFor="let k of headerkeys" id="{{k}}">{{k}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of displayData">
                <td *ngFor="let k of headerkeys" headers="{{row[k]}}">{{row[k]}}</td>
            </tr>
        </tbody>
    </table>

    <table>
        <label>costbasis</label>
        <tr>
            <th *ngFor="let item of header">{{item}}</th>
        </tr>
        <tr *ngFor="let item of debugEntries">
            <td *ngFor="let k of header">{{item[k]}}</td>
        </tr>
    </table>
</div>