<select (change)="selectedTickerChanged()" [(ngModel)]="selectedTicker">
    <option *ngFor="let ticker of tickers">{{ticker}}</option>
</select>
<select *ngIf="watchlist != null" [(ngModel)]="wl_active">
    <option *ngFor="let wl of watchlist">{{wl}}</option>
</select>
<div *ngIf="quoteInfo.has(selectedTicker)">
    <label class="ticker">{{selectedTicker}}</label>
    <label class="labelspacer">ask</label>
    <label class="ask">{{quoteInfo.get(selectedTicker).askPrice}}</label><label
        class="asksize">x{{quoteInfo.get(selectedTicker).askSize}}</label>
    <label class="labelspacer">bid</label>
    <label class="bid">{{quoteInfo.get(selectedTicker).bidPrice}}</label><label
        class="asksize">x{{quoteInfo.get(selectedTicker).bidSize}}</label>
    <label class="labelspacer">mid</label>
    <label id="mid"
        [ngClass]="(quoteInfo.get(selectedTicker).midPrice >= quoteInfo.get(selectedTicker).lastMidPrice)?'midprice-stonksgoup':'midprice-stonksgodown'">{{quoteInfo.get(selectedTicker).midPrice}}</label>
</div>
<div *ngIf="profileInfo.has(selectedTicker)">
    <label>{{profileInfo.get(selectedTicker).description}}</label>
    <table>
        <tr>
            <th>short sale restr</th>
            <th>trading status</th>
            <th>status reason</th>
            <th>halt start</th>
            <th>halt stop</th>
            <th>high limit</th>
            <th>low limit</th>
            <th>high52wk</th>
            <th>low52wk</th>
        </tr>
        <tr>
            <td>{{profileInfo.get(selectedTicker).shortSaleRestriction}}</td>
            <td>{{profileInfo.get(selectedTicker).tradingStatus}}</td>
            <td>{{profileInfo.get(selectedTicker).statusReason}}</td>
            <td>{{profileInfo.get(selectedTicker).haltStart.toLocaleString('de-DE', { timeZone: 'UTC' })}}</td>
            <td>{{profileInfo.get(selectedTicker).haltEnd.toLocaleString('de-DE', { timeZone: 'UTC' })}}</td>
            <td>{{profileInfo.get(selectedTicker).highLimitPrice}}</td>
            <td>{{profileInfo.get(selectedTicker).lowLimitPrice}}</td>
            <td>{{profileInfo.get(selectedTicker).high52WeekPrice}}</td>
            <td>{{profileInfo.get(selectedTicker).low52WeekPrice}}</td>
        </tr>
    </table>
</div>

<div class="panel panel-default table-responsive" *ngIf="optionChains != null">
    <div class="panel-heading">Option 2 - Collapsible Table Structure</div>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>type</th>
                <th>date</th>
                <th>dte</th>
                <th>IV</th>
                <th>more stuff</th>
            </tr>
        </thead>
        <tbody *ngFor="let exp of optionChains.expirations">
            <tr data-toggle="collapse" id="{{exp['expiration-date']}}"
                [attr.data-target]="'.' + exp['expiration-date']">
                <td>{{exp['expiration-type']}}</td>
                <td>{{exp['expiration-date']}}</td>
                <td>{{exp['days-to-expiration']}}</td>
                <td>IV</td>
                <td>more stuff</td>
            </tr>
            <tr class="collapse {{exp['expiration-date']}}">
                <td colspan="999">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>bid</th>
                                    <th>ask</th>
                                    <th>𝛥</th>
                                    <th>𝛩</th>
                                    <th>strike</th>
                                    <th>bid</th>
                                    <th>ask</th>
                                    <th>𝛥</th>
                                    <th>𝛩</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let strike of exp['strikes']">
                                    <td>
                                        {{quoteInfo.has(convertToQuoteString(optionChains['root-symbol'],
                                        strike['strike-price'], exp['expiration-date'], 'C')) ?
                                        quoteInfo.get(convertToQuoteString(optionChains['root-symbol'],
                                        strike['strike-price'], exp['expiration-date'], 'C')).bidPrice : ' '}}
                                    </td>
                                    <td>
                                        {{quoteInfo.has(convertToQuoteString(optionChains['root-symbol'],
                                        strike['strike-price'], exp['expiration-date'], 'C')) ?
                                        quoteInfo.get(convertToQuoteString(optionChains['root-symbol'],
                                        strike['strike-price'], exp['expiration-date'], 'C')).askPrice : ' '}}
                                    </td>
                                    <td>
                                        {{greeksInfo.has(convertToQuoteString(optionChains['root-symbol'],
                                        strike['strike-price'], exp['expiration-date'], 'C')) ?
                                        greeksInfo.get(convertToQuoteString(optionChains['root-symbol'],
                                        strike['strike-price'], exp['expiration-date'], 'C')).delta : ' '}}
                                    </td>
                                    <td>
                                        {{greeksInfo.has(convertToQuoteString(optionChains['root-symbol'],
                                        strike['strike-price'], exp['expiration-date'], 'C')) ?
                                        greeksInfo.get(convertToQuoteString(optionChains['root-symbol'],
                                        strike['strike-price'], exp['expiration-date'], 'C')).theta : ' '}}
                                    </td>
                                    <td>{{strike['strike-price']}}</td>
                                    <td>
                                        {{quoteInfo.has(convertToQuoteString(optionChains['root-symbol'],
                                        strike['strike-price'], exp['expiration-date'], 'P')) ?
                                        quoteInfo.get(convertToQuoteString(optionChains['root-symbol'],
                                        strike['strike-price'], exp['expiration-date'], 'P')).bidPrice : ' '}}
                                    </td>
                                    <td>
                                        {{quoteInfo.has(convertToQuoteString(optionChains['root-symbol'],
                                        strike['strike-price'], exp['expiration-date'], 'P')) ?
                                        quoteInfo.get(convertToQuoteString(optionChains['root-symbol'],
                                        strike['strike-price'], exp['expiration-date'], 'P')).askPrice : ' '}}
                                    </td>
                                    <td>
                                        {{greeksInfo.has(convertToQuoteString(optionChains['root-symbol'],
                                        strike['strike-price'], exp['expiration-date'], 'P')) ?
                                        greeksInfo.get(convertToQuoteString(optionChains['root-symbol'],
                                        strike['strike-price'], exp['expiration-date'], 'P')).delta : ' '}}
                                    </td>
                                    <td>
                                        {{greeksInfo.has(convertToQuoteString(optionChains['root-symbol'],
                                        strike['strike-price'], exp['expiration-date'], 'P')) ?
                                        greeksInfo.get(convertToQuoteString(optionChains['root-symbol'],
                                        strike['strike-price'], exp['expiration-date'], 'P')).theta : ' '}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>