<div class="upperbox">
    <input type="text" [(ngModel)]="tickerField" (keyup.enter)="tickerchanged(tickerField)">
    <div *ngIf="twService.quoteInfo.has(ticker)">
        <label class="ticker">{{ticker}}</label>
        <label class="labelspacer">ask</label>
        <label class="ask">{{twService.quoteInfo.get(ticker).askPrice}}</label><label
            class="asksize">x{{twService.quoteInfo.get(ticker).askSize}}</label>
        <label class="labelspacer">bid</label>
        <label class="bid">{{twService.quoteInfo.get(ticker).bidPrice}}</label><label
            class="asksize">x{{twService.quoteInfo.get(ticker).bidSize}}</label>
        <label class="labelspacer">mid</label>
        <label id="mid"
            [ngClass]="(twService.quoteInfo.get(ticker).midPrice >= twService.quoteInfo.get(ticker).lastMidPrice)?'midprice-stonksgoup':'midprice-stonksgodown'">{{twService.quoteInfo.get(ticker).midPrice}}</label>
    </div>
</div>

<div *ngIf="twService.profileInfo.has(ticker)">
    <label>{{twService.profileInfo.get(ticker).description}}</label>
    <table>
        <tr>
            <th>short sale restr</th>
            <th>trading status</th>
            <th>status reason</th>
            <th>halt start</th>
            <th>halt stop</th>
            <th>high limit</th>
            <th>low limit</th>
            <th>high52wk</th>
            <th>low52wk</th>
        </tr>
        <tr>
            <td>{{twService.profileInfo.get(ticker).shortSaleRestriction}}</td>
            <td>{{twService.profileInfo.get(ticker).tradingStatus}}</td>
            <td>{{twService.profileInfo.get(ticker).statusReason}}</td>
            <td>{{twService.profileInfo.get(ticker).haltStart.toLocaleString('de-DE', { timeZone: 'UTC' })}}</td>
            <td>{{twService.profileInfo.get(ticker).haltEnd.toLocaleString('de-DE', { timeZone: 'UTC' })}}</td>
            <td>{{twService.profileInfo.get(ticker).highLimitPrice}}</td>
            <td>{{twService.profileInfo.get(ticker).lowLimitPrice}}</td>
            <td>{{twService.profileInfo.get(ticker).high52WeekPrice}}</td>
            <td>{{twService.profileInfo.get(ticker).low52WeekPrice}}</td>
        </tr>
    </table>
</div>

<div class="panel panel-default table-responsive" *ngIf="twService.optionChains != null">
    <div class="panel-heading">
        Options chain for {{ticker}}
        <div>
            IV idx {{twService.marketMetrics.get(ticker)["implied-volatility-index"]}}
        </div>
        <div>
            IV % {{twService.marketMetrics.get(ticker)["implied-volatility-percentile"]}}
        </div>
        <div>
            IV idx rank {{twService.marketMetrics.get(ticker)["implied-volatility-index-rank"]}}
        </div>
        <div>
            Lendability {{twService.marketMetrics.get(ticker)["lendability"]}}
        </div>
        <div>
            Borrow rate {{twService.marketMetrics.get(ticker)["borrow-rate"]}}
        </div>
        <div>
            Earnings on {{twService.marketMetrics.get(ticker)["earnings"]["expected-report-date"]}}
            {{twService.marketMetrics.get(ticker)["earnings"]["estimated"] ? "(estimated)" : ""}}
            {{twService.marketMetrics.get(ticker)["earnings"]["late-flag"] ? "(late!)" : ""}}
            @{{twService.marketMetrics.get(ticker)["earnings"]["time-of-day"]}} predicted
            {{twService.marketMetrics.get(ticker)["earnings"]["consensus-estimate"]}}
            for quarter ending on
            {{twService.marketMetrics.get(ticker)["earnings"]["quarter-end-date"]}}

        </div>
        <div>
            IV idx rank {{twService.marketMetrics.get(ticker)["implied-volatility-index-rank"]}}
        </div>
        <div>

        </div>
    </div>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>type</th>
                <th>date</th>
                <th>dte</th>
                <th>IV</th>
                <th>more stuff</th>
            </tr>
        </thead>
        <tbody *ngFor="let exp of twService.optionChains.expirations">
            <tr data-toggle="collapse" id="{{exp['expiration-date']}}"
                [attr.data-target]="'.' + exp['expiration-date']">
                <td>{{exp['expiration-type']}}</td>
                <td>{{exp['expiration-date']}}</td>
                <td>{{exp['days-to-expiration']}}</td>
                <td>{{
                    twService.getIvForTickerExpirationTuple(ticker, exp['expiration-date'])
                }}</td>
                <td>more stuff</td>
            </tr>
            <tr class="collapse {{exp['expiration-date']}}">
                <td colspan="999">
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>bid</th>
                                    <th>ask</th>
                                    <th>𝛥</th>
                                    <th>𝛩</th>
                                    <th>strike</th>
                                    <th>bid</th>
                                    <th>ask</th>
                                    <th>𝛥</th>
                                    <th>𝛩</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let strike of exp['strikes']">
                                    <td>
                                        {{ getQuoteForStrike(strike, exp, 'C', 'bidPrice') }}
                                    </td>
                                    <td>
                                        {{ getQuoteForStrike(strike, exp, 'C', 'askPrice') }}
                                    </td>
                                    <td>
                                        {{ getGreekForStrike(strike, exp, 'C', 'delta') }}
                                    </td>
                                    <td>
                                        {{ getGreekForStrike(strike, exp, 'C', 'theta') }}
                                    </td>
                                    <td class="strike-price">{{strike['strike-price']}}</td>
                                    <td>
                                        {{ getQuoteForStrike(strike, exp, 'P', 'bidPrice') }}
                                    </td>
                                    <td>
                                        {{ getQuoteForStrike(strike, exp, 'P', 'askPrice') }}
                                    </td>
                                    <td>
                                        {{ getGreekForStrike(strike, exp, 'P', 'delta') }}
                                    </td>
                                    <td>
                                        {{ getGreekForStrike(strike, exp, 'P', 'theta') }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>